<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Contacto - Game of Thrones Fanpage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header-footer.css') }}">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.png" type="image/png">
</head>

<body>
    <header>
        <div class="cabecera">
            <img id="img-header" src="{{ url_for('static', filename='img/contenedor2.jpg') }}" alt="">

            <input type="checkbox" id="menu-check">
            <label id="menu" for="menu-check">
                <span id="menu-abrir">&#9776;</span>
                <span id="menu-cerrar">X</span>
            </label>

            <nav>
                <ul>
                    <li><a href="{{ url_for('home') }}">Inicio</a></li>
                    <li><a href="{{ url_for('temporadas') }}">Temporadas</a></li>
                    <li><a href="{{ url_for('personajes') }}">Personajes</a></li>
                    <li><a href="{{ url_for('contacto') }}">Contacto</a></li>
                </ul>
            </nav>
            
        </div>
    </header>

    <main>
        <section id="contacto" class="contacto">
            <div class="contenedor">
                <h2 class="titulo-seccion">Contacto</h2>
                <form id="formulario-contacto">
                    <div class="grupo-formulario">
                        <label for="nombre">Nombre:</label>
                        <input class="input-padron" type="text" id="nombre" name="nombre">
                    </div>
                    <div class="grupo-formulario">
                        <label for="pais">País:</label>
                        <select class="input-padron" id="pais" name="pais">
                            <option value="">Seleccione</option>
                            <option value="arg">Argentina</option>
                            <option value="col">Colombia</option>
                            <option value="ecu">Ecuador</option>
                            <option value="mex">Mexico</option>
                            <option value="per">Perú</option>
                            <option value="uru">Uruguay</option>
                            <option value="ven">Venezuela</option>
                        </select>
                    </div>
                    <div class="grupo-formulario">
                        <label for="correo">Correo Electrónico:</label>
                        <input class="input-padron" type="email" id="correo" name="correo">
                    </div>
                    <div class="grupo-formulario">
                        <label for="temporada">Temporada Favorita:</label>
                        <select class="input-padron" id="temporada" name="temporada">
                            <option value="">Seleccione</option>
                            <option value="temporada-1">Temporada 1</option>
                            <option value="temporada-2">Temporada 2</option>
                            <option value="temporada-3">Temporada 3</option>
                            <option value="temporada-4">Temporada 4</option>
                            <option value="temporada-5">Temporada 5</option>
                            <option value="temporada-6">Temporada 6</option>
                            <option value="temporada-7">Temporada 7</option>
                            <option value="temporada-8">Temporada 8</option>
                        </select>
                    </div>
                    <div class="grupo-formulario">
                        <label for="mensaje">Mensaje:</label>
                        <textarea class="input-padron" id="mensaje" name="mensaje"></textarea>
                    </div>

                    <label><input class="checkbox-container" type="checkbox" id="terminos" name="terminos"
                            required>Acepto los términos y condiciones</label>

                    <button type="submit">Enviar</button>
                </form>
            </div>
        </section>
        <!-- aqui valido formulario con javascript -->
        <script src="../static/js/validarForm.js"></script>      
    </main>

    <footer>
        <div class="contenedor">
            <p>&copy; 2024 Game of Thrones. Todos los derechos reservados.</p>
            <p>Codo a Codo Frontend [Grupo 16]</p>
            <div class="iconos">
                <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            </div>
            <button onclick="scrollToTop()">Ir Arriba</button>
        </div>
    </footer>
    <script src="js/hamburguesa.js"></script>
    <script>
        function scrollToTop() {
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
        }
    </script>
</body>
</html>